<template>
  <div class="main">
    <div class="wrp">
      <md-card class="main-card">

        <md-card-header>
          <md-autocomplete v-model="selectedCity" :md-selected="selectedCity.length > 3 ? getForecast() : null" :md-options="countries">
            <label>City</label>
          </md-autocomplete>
        </md-card-header>

        <div v-if="errored">
          <md-card-content>
            <p>Pedimos desculpas, não estamos conseguindo recuperar as informações no momento. Por favor, tente novamente mais tarde.</p>
          </md-card-content>
        </div>

        <div v-else>

          <div v-if="loading">
            <div class="md-subhead center">Carregando informações</div>
            <md-progress-bar md-mode="indeterminate"></md-progress-bar>
          </div>

          <div v-else>

            <md-card-content>
              <div class="md-layout">
                <div class="md-layout-item">
                  <div class="md-title">{{ city }}</div>
                  <div class="md-subhead">{{ main }}</div>
                  <div class="md-subhead">{{ description }}</div>
                </div>
              </div>

              <div class="md-layout md-alignment-top-space-between">
                <div>
                  <span><img :src="icon"/></span>
                  <span class="md-display-3"> {{ temp }}</span>
                  <span class="md-subhead">°C</span>
                </div>
                <div>
                  <div class="md-subhead">Humidity: <strong>{{ humidity }}%</strong></div>
                  <div class="md-subhead">Wind: <strong>{{ wind }}m/s</strong></div>
                </div>
              </div>
            </md-card-content>

            <div class="md-layout md-gutter">
              <div class="md-layout-item item">
                <div class="md-subhead">{{ firstDayDate }}</div>
                <div class="md-subhead"><img :src="firstDayIcon"/></div>
                <div class="md-subhead">Min <strong>{{ firstDayMinT }}</strong></div>
                <div class="md-subhead">Max <strong>{{ firstDayMaxT }}</strong></div>
              </div>
              <div class="md-layout-item item">
                <div class="md-subhead">{{ secDayDate }}</div>
                <div class="md-subhead"><img :src="secDayIcon"/></div>
                <div class="md-subhead">Min <strong>{{ secDayMinT }}</strong></div>
                <div class="md-subhead">Max <strong>{{ secDayMaxT }}</strong></div>
              </div>
              <div class="md-layout-item item">
                <div class="md-subhead">{{ threeDayDate }}</div>
                <div class="md-subhead"><img :src="threeDayIcon"/></div>
                <div class="md-subhead">Min <strong>{{ threeDayMinT }}</strong></div>
                <div class="md-subhead">Max <strong>{{ threeDayMaxT }}</strong></div>
              </div>
              <div class="md-layout-item item">
                <div class="md-subhead">{{ fourDayDate }}</div>
                <div class="md-subhead"><img :src="fourDayIcon"/></div>
                <div class="md-subhead">Min <strong>{{ fourDayMinT }}</strong></div>
                <div class="md-subhead">Max <strong>{{ fourDayMaxT }}</strong></div>
              </div>
              <div class="md-layout-item item">
                <div class="md-subhead">{{ fiveDayDate }}</div>
                <div class="md-subhead"><img :src="fiveDayIcon"/></div>
                <div class="md-subhead">Min <strong>{{ fiveDayMinT }}</strong></div>
                <div class="md-subhead">Max <strong>{{ fiveDayMaxT }}</strong></div>
              </div>
            </div>

          </div>
        
        </div>

      </md-card>
      <div class="cop"><a href="http://brunoalbano.com.br" target="_blank">Bruno Albano</a></div>
    </div>
  </div>
</template>

<script>

export default {
  data: () => ({
    selectedCity: 'Florianópolis',
    countries: [
      'Rio Branco',
      'Maceió',
      'Macapá',
      'Manaus',
      'Salvador',
      'Fortaleza',	
      'Brasília',
      'Vitória',
      'Goiânia'	,
      'São Luís',	
      'Cuiabá',	
      'Campo Grande',	
      'Belo Horizonte',
      'Belém',	
      'João Pessoa',	
      'Curitiba',	
      'Recife',	
      'Teresina',	
      'Rio de Janeiro',	
      'Natal',	
      'Porto Alegre',	
      'Porto Velho',	
      'Boa Vista',
      'Florianópolis',	
      'São Paulo',	
      'Aracaju',	
      'Palmas',
    ],
    loading: true,
    errored: false,
    city: '',
    main: '',
    description: '',
    icon: '',
    temp: '',
    humidity: '',
    wind: '',
    res: '',
    firstDayDate: '',
    firstDayIcon: '',
    firstDayMaxT: '',
    firstDayMinT: '',
    secDayDate: '',
    secDayIcon: '',
    secDayMaxT: '',
    secDayMinT: '',
    threeDayDate: '',
    threeDayIcon: '',
    threeDayMaxT: '',
    threeDayMinT: '',
    fourDayDate: '',
    fourDayIcon: '',
    fourDayMaxT: '',
    fourDayMinT: '',
    fiveDayDate: '',
    fiveDayIcon: '',
    fiveDayMaxT: '',
    fiveDayMinT: '',
  }),
  methods: {
    async getForecast() {

      let url = "http://api.openweathermap.org/data/2.5/forecast?q="+this.selectedCity+"&units=metric&APPID=917b3e9d1aeedd7662238d489c43d2d2";
      await this.$axios
        .$get(url)
        .then(
          reponse => {
            this.city = reponse.city.name;
            this.main = reponse.list[0].weather[0].main;
            this.description = reponse.list[0].weather[0].description;
            this.icon = 'http://openweathermap.org/img/w/' + reponse.list[0].weather[0].icon + '.png';
            this.temp = reponse.list[0].main.temp;
            this.humidity = reponse.list[0].main.humidity;
            this.wind = reponse.list[0].wind.speed;

            this.firstDayDate = reponse.list[1].dt_txt.slice(5,11);
            this.firstDayIcon = 'http://openweathermap.org/img/w/' + reponse.list[1].weather[0].icon + '.png';
            this.firstDayMaxT = reponse.list[1].main.temp_max;
            this.firstDayMinT = reponse.list[1].main.temp_min;

            this.secDayDate = reponse.list[6].dt_txt.slice(5,11);
            this.secDayIcon = 'http://openweathermap.org/img/w/' + reponse.list[6].weather[0].icon + '.png';
            this.secDayMaxT = reponse.list[6].main.temp_max;
            this.secDayMinT = reponse.list[6].main.temp_min;

            this.threeDayDate = reponse.list[14].dt_txt.slice(5,11);
            this.threeDayIcon = 'http://openweathermap.org/img/w/' + reponse.list[14].weather[0].icon + '.png';
            this.threeDayMaxT = reponse.list[14].main.temp_max;
            this.threeDayMinT = reponse.list[14].main.temp_min;

            this.fourDayDate = reponse.list[22].dt_txt.slice(5,11);
            this.fourDayIcon = 'http://openweathermap.org/img/w/' + reponse.list[22].weather[0].icon + '.png';
            this.fourDayMaxT = reponse.list[22].main.temp_max;
            this.fourDayMinT = reponse.list[22].main.temp_min;

            this.fiveDayDate = reponse.list[30].dt_txt.slice(5,11);
            this.fiveDayIcon = 'http://openweathermap.org/img/w/' + reponse.list[30].weather[0].icon + '.png';
            this.fiveDayMaxT = reponse.list[30].main.temp_max;
            this.fiveDayMinT = reponse.list[30].main.temp_min;
          })
          .catch(error => {
            this.errored = true
          })
          .finally(() => this.loading = false)
    },
  },
}
</script>

<style lang="stylus" scoped>

  .main
    display flex
    flex-direction column
    align-items center
    justify-content center
    flex-wrap wrap
    height 100vh

  .wrp
    width 100%
    padding 0 15px

  .main-card
    max-width 630px
    margin 0 auto

  .md-layout
    margin 10px 0

  .center
    text-align center

  .item
    margin-bottom 10px
    text-align center

  .cop
    text-align center
    margin-top 30px

    a
      color #5fc74c
      text-decoration underline
      font-size 12px

</style>